new-whatsapp-workflow.json
{
  "name": "WA-003-WhatsApp-IA-Complete",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/v1/wa/ia-agent",
        "options": {}
      },
      "id": "whatsapp-webhook",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [112, 288],
      "webhookId": "whatsapp-ia-agent"
    },
    {
      "parameters": {
        "systemPrompt": "Eres un agente de inventario inteligente para EntreGA. Tu función es:\n\n1. ANALIZAR mensajes de WhatsApp de clientes\n2. IDENTIFICAR intenciones (pedidos, consultas, confirmaciones)\n3. GESTIONAR conversaciones con memoria\n4. PROCESAR pedidos solo después de confirmación\n5. ACTUALIZAR inventario en Google Sheets\n6. RESPONDER de forma natural en español\n\nREGLAS IMPORTANTES:\n- SIEMPRE confirma antes de procesar pedidos\n- Mantén contexto de conversación\n- Sugiere opciones inteligentes (ej: dividir 20 galletas en 10+10)\n- Responde con emojis y formato claro\n- Nunca proceses sin confirmación del cliente\n\nHERRAMIENTAS DISPONIBLES:\n- Google Sheets: Para actualizar inventario\n- WhatsApp: Para enviar respuestas\n- Memoria: Para mantener contexto de conversación",
        "agentType": "conversational",
        "tools": [
          {
            "name": "google_sheets_update",
            "description": "Actualiza el inventario en Google Sheets cuando se confirma un pedido",
            "parameters": {
              "type": "object",
              "properties": {
                "action": {
                  "type": "string",
                  "enum": ["add_order", "update_stock", "log_movement"]
                },
                "tenant_id": {"type": "string"},
                "product": {"type": "string"},
                "quantity": {"type": "number"},
                "order_id": {"type": "string"}
              },
              "required": ["action", "tenant_id", "product", "quantity"]
            }
          },
          {
            "name": "whatsapp_response",
            "description": "Envía respuesta al cliente por WhatsApp",
            "parameters": {
              "type": "object",
              "properties": {
                "message": {"type": "string"},
                "phone": {"type": "string"}
              },
              "required": ["message", "phone"]
            }
          }
        ],
        "options": {
          "memory": true,
          "returnIntermediateSteps": true,
          "maxIterations": 3
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [336, 304]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [208, 512],
      "credentials": {
        "openAiApi": {
          "id": "eJmNJ8N9TuLdSaEw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "={{ $json.tenant_id === 'EC001' ? '1snac3K5KC4mBDfkf8SAyivDUueKyo-lADMfWG5ByHhA' : '1QrXgIT4l2FdNQssWvegWvegwNyOzRWqeQyCu-YkYfWN4v7g' }}",
        "range": "Movimientos",
        "options": {}
      },
      "id": "google-sheets",
      "name": "Google Sheets Actions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [656, 304],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ihr4fvj6HSq6wQQr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "https://graph.facebook.com/v18.0/{{ $json.phone }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "httpHeaderAuth": "Bearer EAAOFBr2Km6UBPL0o50718g8rVw9DLF22kt8v9V18qZCuyOQZCISeGu4r4YGToUNPlI6FAVjyjGlAb7RGneCZAKYoeMqih9X1MI72TL5fseFj0ZC8mmQ6FZAdfAXuQChrBCUQfwv7gETNZBGgC5vLZCmVZCZBBSd2DaMMUv6OgZCNcGCKQ9sqk9t1OX4K61xDLTZACQFpwMcgl5hbXKyZCqGHW7P7EwgZC3kGC9P2067ZCAV0CYJ6cZD",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "whatsapp-response",
      "name": "WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [864, 304]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Actions": {
      "main": [
        [
          {
            "node": "WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null
}
