docs/whatsapp-agent-simple.json
{
  "name": "WhatsApp Agent Basic - EntreGA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/v1/wa/inbound",
        "options": {}
      },
      "id": "webhook-whatsapp",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "whatsapp-inbound"
    },
    {
      "parameters": {
        "sheetId": "1snac3K5KC4mBDfkf8SAyivDUueKyo-lADMfWG5ByHhA",
        "range": "Tenants_Contacts!A2:D",
        "options": {}
      },
      "id": "lookup-tenant",
      "name": "Lookup Tenant by Phone",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "sheetId": "={{ $json.sheet_id || '1snac3K5KC4mBDfkf8SAyivDUueKyo-lADMfWG5ByHhA' }}",
        "range": "WA_Session!A:F",
        "options": {
          "valueInputOption": "RAW"
        },
        "values": "={{ [\n  $json.from_phone || 'TEST',\n  'ORDER-' + Date.now(),\n  'Producto Test',\n  1,\n  'PENDING',\n  new Date().toISOString()\n] }}"
      },
      "id": "save-session",
      "name": "Save Session to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "https://graph.facebook.com/v18.0/PHONE_NUMBER_ID/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "httpHeaderAuth": "Bearer YOUR_ACCESS_TOKEN",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from_phone || 'TEST' }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Hola! He recibido tu mensaje. Procesando...\"\n  }\n}"
      },
      "id": "send-whatsapp-response",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Lookup Tenant by Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Tenant by Phone": {
      "main": [
        [
          {
            "node": "Save Session to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Session to Sheet": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-08T10:00:00.000Z",
  "versionId": "1"
}
